<div style="border: 1px solid black;">
	<p>First Name: <input type="text" value="<%= @patients_t.fname %>"></p>
	<p>Last Name: <input type="text" value="<%= @patients_t.lname %>"></p>
	<p>Middle Name: <input type="text" value="<%= @patients_t.midname %>"></p>
	<p>Passport: <input type="text" value="<%= @patients_t.passport %>"></p>
	<p>Date of birth: <input type="text" value="<%= @patients_t.dob %>"></p>
	<p>Visa Type: <input type="text" value="<%= @patients_t.visa_type %>"></p>
</div>
<h2>VDLR Result Form</h2>
<%= form_for :vdlr_result,:url=>{:action=>"save_vdlr_result",:id=>params[:id],:test_id=>params[:test_id]} do |f|  %>

	<%= f.hidden_field :patients_id,:value=> params[:id] %>
	<%= f.hidden_field :exam_patients_id,:value=> params[:test_id] %>
	<%= f.hidden_field :test_type,:value=> "TST" %>
	<p> Result Date:</br> <%= f.date_select :date_applied %> </p>
	<p> Result Read by:</br> <%= f.text_field :test_by , :value => "Furqan" ,:readonly => true %> </p>
	<p> Result mm :</br> <%= f.text_field :result_mm %> </p>
	<%= f.submit "Submit Results" %>
<% end %>