<table class="table" >
	<thead>
	<tr>
		<th>Passport No</th>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Gender</th>
		<th>Date of Birth</th>
		<th>Visa Type</th>
		<th colspan="2">Action</th>
	</tr>
	
	</thead>
	<tbody id="table_body">
	<% @patients.each do | a | %>
	<tr class="appoinment_data">
		<td><%= a.passport %></td>
		<td><%= a.fname %></td>
		<td><%= a.lname %></td>
		<td><%= a.gender %></td>
		<td><%= a.dob %></td>
		<td><%= a.visa_type %></td>
		<td><a href="/vdlr/test?id=<%= a.id %>&test_id=<%= a.exam_id %>">VDLR Injection</a></td>
		<td><button>Add Exam</button></td>
	</tr>
	<% end %>
	</tbody>
</table>