<div style="border: 1px solid black;">
	<p>First Name: <input type="text" value="<%= @patients_t.fname %>"></p>
	<p>Last Name: <input type="text" value="<%= @patients_t.lname %>"></p>
	<p>Middle Name: <input type="text" value="<%= @patients_t.midname %>"></p>
	<p>Passport: <input type="text" value="<%= @patients_t.passport %>"></p>
	<p>Date of birth: <input type="text" value="<%= @patients_t.dob %>"></p>
	<p>Visa Type: <input type="text" value="<%= @patients_t.visa_type %>"></p>
</div>

<h2>VDLR Result Form</h2>
<%= form_for(:vdlr, :url => {:controller => 'vdlr', :action => 'create'}) do |f| %>
	<%= f.hidden_field :patients_id,:value=> params[:id] %>
	<%= f.hidden_field :exam_patients_id,:value=> params[:test_id] %>
	<p> Result Date:</br> <%= f.date_select :date_applied %> </p>
	<p> Result Read by:</br> <%= f.text_field :test_by , :value => "Furqan" ,:readonly => true %> </p>
	
	<p>Result:<%= f.select :injection_site , options_for_select([["Select One", ""], "Left Leg", "Right Leg","Left Forearm","Right Forearm"]) %></p>
	<p>Supplier Details:</p>
	<p>Supplier:<br/> <%= f.text_field :supplier_name %></p>
	<p>Lot No:<br/> <%= f.text_field :lot_num %></p>
	<p>Manufacture Date:<br/> <%= f.date_select :manufacture_date %></p>
	<p>Expiry Date:<br/> <%= f.date_select :expiry_date %></p>

	<%= f.submit "Submit Results" %>
<% end %>
