<h1>Patient Records Table</h1>
<table class="table">
	<tr>
		<th>Passport No.</th>
		<th>Alien Number</th>
		<th>Last Name</th>
		<th>First Name</th>
		<th>Sex</th>
		<th>Exam Date</th>
		<th>Birth Date</th>
		<th>Action</th>
	</tr>
	<% @physician.each do |h| %>
	<tr>
		<td><%= h.passport %></td>
		<td><%= h.alien_no %></td>
		<td><%= h.lname %></td>
		<td><%= h.fname %></td>
		<td><%= h.gender %></td>
		<td>Exam</td>
		<td><%= h.dob %></td>
		<td><a href="/physician/view_forms?id=<%= h.id %>">Forms</a></td>
	</tr>
	<% end %>
</table>
