<%= form_for :patient , :url => {:controller => 'patients', :action => 'patient_submit' } do |f| %>

<input type="hidden" value="<%= @patient.id %>" name="patient[id]">
<div class="control-group">
    <label class="control-label">Lab Code</label>
    <div class="controls">
        <input type="text" class="input-xlarge" name="patient[lab_code]" value="<%= @patient.lab_code %>">
    </div>
</div>

<div class="control-group">
    <label class="control-label">Last Name</label>
        <div class="controls">
            <input type="text" class="input-xlarge" name="patient[lname]" value="<%= @patient.lname %>">
        </div>
</div>

<div class="control-group">
    <label class="control-label">First Name </label>
        <div class="controls">
            <input type="text" class="input-xlarge" name="patient[fname]" value="<%= @patient.fname %>">
        </div>
</div>

<div class="control-group">
    <label class="control-label">MI</label>
        <div class="controls">
            <input type="text" class="input-medium" name="patient[midname]" value="<%= @patient.midname %>">
        </div>
</div>

<div class="control-group">
    <label class="control-label">Sex</label>
    <div class="controls">
        <select class="input-large m-wrap" tabindex="1" name="patient[gender]">
            <option value="Male" <%= @patient.gender=='Male' ? 'selected': '' %> >Male</option>  
            <option value="Female" <%= @patient.gender=='Female' ? 'selected': '' %>>Female</option>
        </select>
    </div>
</div>

<!-- <div class="control-group">
    <label class="control-label">Date of Birth</label>
    <div class="controls">
        <input id="dp1" type="date" name="patient[dob]"  placeholder="MM-DD-YEAR"  size="16" class="m-ctrl-medium" required>
    </div>
</div> -->


<div class="control-group">
    <label class="control-label">Date of Birth</label>
    <%= f.date_select :dob%>
</div>

<!-- <div class="control-group">
    <label class="control-label">Birth City</label>
    <div class="controls">
        <select class="input-large m-wrap" tabindex="1" name="patient[]">
            <option value="">Select the City</option>
        </select>
    </div>
</div> -->

<div class="control-group">
    <label class="control-label">Birth Country</label>
    <div class="controls">
        <select class="input-large m-wrap" tabindex="1" name="patient[birth_country]">
            <option value="">Select the Country</option>
             <% @countries.each do |c| %>
                <option value="<%= c.country_name %>"<%= @patient.birth_country==c.country_name ? 'selected': ''  %>><%= c.country_name %></option>
            <% end %>
        </select>
    </div>
</div>

<div class="control-group">
    <label class="control-label">Present Country</label>
    <div class="controls">
        <select class="input-large m-wrap" tabindex="1" name="patient[present_country]">
            <option value="0">--Select Country--</option>
            <% @countries.each do |c| %>
                <option value="<%= c.country_name %>" <%= @patient.present_country==c.country_name ? 'selected': ''  %>><%= c.country_name %></option>
            <% end %>
        </select>
    </div>
</div>

<div class="control-group">
    <label class="control-label" style="float:left;">TB Status</label>
    <div class="controls" style="float:left;margin-left:10px;">
        <input type="checkbox" value="1" <%= @patient.tb_status == true ? 'checked' : '' %> name="patient[tb_status]">
    </div>
    <p style="margin-left:10px;">TB Positive</p>
</div> 

<div class="control-group">
    <label class="control-label">Passport No</label>
    <div class="controls">
        <input type="text" class="input-xlarge" name="patient[passport]" value="<%= @patient.passport %>">
    </div>
</div>

<div class="control-group">
    <label class="control-label">Alien No</label>
    <div class="controls">
        <input type="text" class="input-xlarge"  name="patient[alien_no]" value="<%= @patient.alien_no %>">
    </div>
</div>

<div class="control-group">
    <label class="control-label">Visa Type</label>
    <div class="controls">
        <select class="input-large m-wrap" tabindex="1"  name="patient[visa_type]">
            <option value="1" <%= @patient.visa_type==1 ? 'selected': '' %>>None</option>
            <option value="k1" <%= @patient.visa_type=='k1' ? 'selected': '' %>>K1</option>
            <option value="v-92" <%= @patient.visa_type=='v-92' ? 'selected': '' %>>V92</option>
        </select>
    </div>
</div>

<div class="control-group">
    <label class="control-label">Prior Country</label>  
    <div class="controls">
        <select class="input-large m-wrap" tabindex="1" name="patient[prior_country]">
            <option value="">Select the Country</option>
            <% @countries.each do |c| %>
                <option value="<%= c.country_name %>" <%= @patient.prior_country==c.country_name ? 'selected': ''  %> ><%= c.country_name %></option>
            <% end %>



        </select>
    </div>
</div>

<div class="control-group">
    <label class="control-label">Embassy Council Country</label>
    <div class="controls">
        <select class="input-large m-wrap" tabindex="1" name="patient[embassy_country]">
            <option value="">Select the Country</option>
            <% @countries.each do |c| %>
                <option value="<%= c.country_name %>" <%= @patient.embassy_country==c.country_name ? 'selected': ''  %>><%= c.country_name %></option>
            <% end %>



        </select>
    </div>
</div>

<div class="control-group">
    <label class="control-label">Embassy Council City</label>
    <div class="controls">
        <select class="input-large m-wrap" tabindex="1" name="patient[embassy_city]">
            <option value="">Select the City</option>
            <% @cities.each do |c| %>
                <option value="<%= c.city_name %>" <%= @patient.embassy_city==c.city_name ? 'selected': '' %>><%= c.city_name %></option>
            <% end %>


        </select>
    </div>
</div>

<div class="control-group">
    <label class="control-label">Attach Passport:</label>
        <div class="controls">
            <input type="file" name="patient[passport_img]" id="passport_image" accept="image/*">
        </div>
</div>

<div class="control-group">
    <label class="control-label">Attach CNIC:</label>   
    <div class="controls">
        <input type="file" name="patient[nic_img]" id="nic_image" accept="image/*">
    </div>
</div>

<div class="control-group">
    <label class="control-label">Other Document:</label>
    <div class="controls">
        <input type="file" name="patient[other_docs]" id="other_image" accept="image/*">
    </div>
</div>

<div Style="margin-top:20px;margin-bottom:20px">
    <input type="submit" value="Submit">
</div>
<% end %>